<configuration>
    <contextName>sqs-test</contextName>
    <jmxConfigurator />
    <!-- Development -->
    <appender
        name="console"
        class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%thread] %level %logger{55} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="console" />
    </root>

    <logger
        name="com.dobydigital"
        level="debug" />
</configuration>
